.awesome {
  min-height: 600px;
  padding-top: 78px;
  background-image: url(./img/Illustration.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  &__title {
    width: 600px;
    font-weight: 500;
    font-size: 50px;
    line-height: 140%;
    color: $textWhite;
    margin-bottom: 30px;
  }
  &__description {
    width: 480px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 60px;
  }
  &__search {
    max-width: 500px;
    height: 64px;
    background: #283036;
    border-radius: 15px;
    &-input {
      height: 100%;
      background-color: transparent;
      border: none;
      outline: none;
      padding-left: 55px;
      font-size: 14px;
      line-height: 21px;
      color: rgba(255, 255, 255, 0.38);
    }
  }
}
