.brands {
  width: 100%;
  margin-bottom: 200px;
  &__container {
    position: relative;
    min-height: 253px;
    padding: 55px 83px;
    border-radius: 25px;
    background-image: url('./img/backBrands.svg');
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -84px;
      left: -86px;
      width: 159px;
      height: 159px;
      border-radius: 50%;
      background: rgba(255, 72, 66, 0.4);
      filter: blur(50px);
    }
  }
  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 55px;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 107px;
  }
}
