@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('./fonts/Poppins-Regular.woff2') format('woff2'),
    url('./fonts/Poppins-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('./fonts/Poppins-Medium.woff2') format('woff2'),
    url('./fonts/Poppins-Medium.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('./fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('./fonts/Poppins-SemiBold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('./fonts/Roboto.woff2') format('woff2'),
    url('./fonts/Roboto.woff') format('woff');
  font-display: swap;
}
