.navigation {
  &__list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__item {
    font-weight: 500;
    cursor: pointer;
    flex: 1 0 auto;
    transition: 0.3s ease-in-out;
    &:hover {
      color: $buttonColor;
    }
    &_popup {
      position: relative;
      svg {
        transform: translateY(5px);
      }
    }
  }
}
