.subheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  text-align: center;
  &__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    text-align: inherit;
    color: rgba(255, 255, 255, 0.9);
  }
  &__subtitle {
    width: 427px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: inherit;
    color: rgba(255, 255, 255, 0.55);
  }
  &_left {
    gap: 30px;
    align-items: start;
    text-align: left;
  }
}
